<html>
    <head>
        <style>
            #userTable{
                border: black solid 1px;
                border-collapse: collapse;
            }
            td {
                border: black solid 1px;;
                text-align: center;
            }
            th {
                border: black solid 1px;
            }

            #POSTtABLE{
                border: black solid 1px;
                border-collapse: collapse;
            }

            #topbar{
                display: inline-block;
                display: flex;
            }
            .links{
                display: flex;
                position: absolute;
                top: 35px;
                right: 40px;
                padding: 8px;
                background-color: #e2e8d1;
                border: 2px solid transparent;
                border-radius: 10px;
            }
            a {
                display: inline-block;
                border: 1px solid transparent;
                padding: 5px 10px;
                margin: 0;
            }

            .linkBarLink{
                color: #7a9a6d;
                font-size: 20px;
                text-decoration: none;
            }
            #makeAPost{
                background-color: #11770a;
                text-decoration: none;
                color: white;
                padding: 8px;

            }

            button {
                background-color: #11770a;
                color: white;
                border: solid white;
                padding: 6px;
                position: relative;
                top:7px;
            }

        </style>
        <header>
            <div id="topBar">
                <h1 class="title">BIPH FLORA</h1>
                <div class="links">
                    <a class="linkBarLink" href="homescreen">Home</a>
                    <a class="linkBarLink" href="searchResults">Database</a>
                    <a class="linkBarLink" href="creation">Creation</a>
                    <a class="linkBarLink" href="activities">Activities</a>
                    <a class="linkBarLink" href="journey">Journey</a>
                    <a class="linkBarLink" href="aboutUs">About us</a>
                    <a class="linkBarLink" href="login">Registration</a>
                </div>
            </div>
        </header>
    </head>
    <body>
        <div type="account">
            <h1>Account management:</h1>
            <table id="userTable">
                <th>Username</th>
                <th>Password</th>
                <th>Admin Status</th>
                <th>Delete</th>
                <th>Make Admin</th>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.username %> </td>
                        <td><%= user.password %></td>
                        <td><%= user.admin %></td>
                        <td>
                            <form action='/deleteUser' method="POST" id="deleteUsernameForm">
                                <input type="hidden" value="<%= user.username %>" name="username">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action='/toggleAdmin' method="POST" id="toggleAdminForm">
                                <input type="hidden" value="<%= user.username %>" name="username">
                                <button type="submit">Toggle</button>
                            </form>
                        </td>
                        
                    </tr>
                <% }) %>
            </table>
            <br><br>
            <h1>Post management:</h1>
            <table id="postTable">
                <tr>
                <th>Topic</th>
                <th>Delete</th>
                <th>Feature</th>
                <th>Feature Toggle</th>
                </tr>

                <% posts.forEach(function(post) { %>
                    <tr>
                        <td><%= post.featuredColumnTitle %></td>
                        <td><form action='/deletePost' method="POST" id="deletePostForm">
                            <input type="hidden" value="<%= post.id %>" name="postId">
                            <button type="submit">Delete</button>
                        </form>  </td>
                        <td><%= post.featured %></td>
                        <td><form action='/toggleFeature' method="POST" id="togglePostForm">
                            <input type="hidden" value="<%= post.id %>" name="postId">
                            <button type="submit">Toggle</button>
                        </form></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    <br><br>
    <a href="/" id="makeAPost">Make a Post</a>
    
    
    </body>
</html>