<!DOCTYPE html>
<html>
    <head>
        <title><%= post.featuredColumnTitle %></title>
    </head>
    <body>
        <h1><%= post.featuredColumnTitle %></h1>
        <p><%= post.featuredColumnContent %></p>
        <p><%= post.featuredColumnCaptions %></p>
        <% post.pictureUrl.forEach(function(image) { %>                       
            <img src="./uploads/<%= image.filename %>" alt="<%= image.filename %>">                     
        <% }); %>
    </body>
</html>