<!DOCTYPE html>
<html>
    <head>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://kit.fontawesome.com/8394235f03.js" crossorigin="anonymous"></script>
        <style>
            @import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
            body, h1, p {
            font-family: 'poppins',sans-serif;
            color: #ffffff;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        </style>
        <title><%= post.featuredColumnTitle %></title>
    </head>
    <body>
        <h1><%= post.featuredColumnTitle %></h1>
        <p><%= post.featuredColumnContent %></p>
        <p><%= post.featuredColumnCaptions %></p>
        <% post.pictureUrl.forEach(function(image) { %>                       
            <img src="./uploads/<%= image.filename %>" alt="<%= image.filename %>">                     
        <% }); %>
    </body>
</html>